.nav {
  width: 100%;
}

.search {
  display: flex;
  align-self: center;
  gap: 5rem;
  margin-top: 2rem;
}

.srcInput {
  width: 15vw;
}

.srcIcon,
.filter {
  background-color: rgb(92, 94, 92);
  margin-left: -8.3rem;
  width: 2rem;
  height: 1rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.item {
  display: flex;
  transition: background-color 0.3s ease-in-out;
  background-color: rgb(155, 132, 3);
  align-self: center;
  padding: 1rem 3rem;
  margin-top: 2rem;
  gap: 4rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-around;
}

.item:hover {
  cursor: pointer;
  background-color: rgb(102, 87, 3);
}

.date {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  text-align: center;
  font-weight: 800;
  gap: 1rem;
}

.dateSec {
  display: flex;
  gap: 4rem;
  margin-right: 5rem;
}

.dateHeader {
  display: flex;
  align-items: center;
}

.elections {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  overflow: auto;
  height: 30vw;
  margin: 1rem;
}

.sad {
  width: 20%;
}

.empty {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 30vw;
  font-size: 2rem;
  font-weight: 500;
  width: 20ch;
  text-align: center;
  color: rgb(2, 71, 2);
  font-style: italic;
}

#animation-container {
  overflow: hidden;
  white-space: nowrap;
}

#animation-container h3 {
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.delete {
  display: none;
  width: 0;
  opacity: 0;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.item:hover> .delete {
  display: unset;
  width: 2rem;
  opacity: 1;
}

/* .elections
.delete:hover {
  width: 2rem;

} */

.delPopUp {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  color: red;
  position: absolute;
  /* left: 50%; */
  background-color: rgba(222, 184, 135,0.7);
  padding: 1rem;
  border-radius: 1rem;

}

.delOptions {
  display: flex;
  justify-content: space-between;
  color: brown;
}

.option {
  font-weight: 800;
}

.option:hover {
  text-transform: uppercase;
}
