main {
  display: flex;
  flex-direction: column;
  min-width: 60vw;
  min-height: 45vw;
  border-radius: 1rem;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  overflow: hidden;
  background-color: rgb(86, 133, 68);
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/assets/background.jpg);
  background-repeat: no-repeat;
  min-width: 60vw;
  min-height: 45vw;
}

h2 {
  color: rgb(143, 129, 4);
  margin-bottom: -0.5rem;
}

h3 {
  color: crimson;
}

.nav {
  display: flex;
  background-color: rgb(8, 158, 23);
  align-items: center;
  color: white;
  align-self: center;
  justify-self: center;
  border-radius: 0.5rem;
  justify-content: space-around;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: end;
}

li:hover {
  color: rgb(240, 217, 14);
  text-transform: uppercase;
  cursor: pointer;
}

.navigator {
  margin-left: auto;
  margin-right: 2rem;
}

.dropDown {
  width: 1rem;
}
.titleHome {
  display: flex;
  margin: 1rem;
  gap: 0.5rem;
}
.topHomepage {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.topHomepage p {
  max-width: 40ch;
  margin-left: 2rem;
}

.topHomepage span {
  color: rgb(2, 2, 126);
  font-style: italic;
  font-weight: 500;
}

.stroke {
  width: 0.5rem;
  border-radius: 1rem;
  height: 2rem;
  background-color: blue;
}

.slogan {
  display: flex;
  margin-top: 2rem;
  margin-left: 1rem;
  color: rgb(2, 2, 2);
  font-weight: 500;
  gap: 1rem;
  text-align: center;
  font-style: italic;
  justify-self: flex-start;
}

.mSlogan {
  max-width: 30ch;
  text-align: left;
  padding: 2rem 2rem;
  padding-top: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.transparent {
  background: rgba(48, 80, 80, 1);
}

.secure {
  background: rgba(78, 61, 61, 0.8);
}

.credible {
  background: rgba(121, 175, 164, 1);
}

.mSlogan:hover {
  background-color: rgba(22, 71, 3, 0.9);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  transition: all 0.3s ease;
}

.sloganIcon {
  height: 2rem;
  width: 2rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  background: rgba(51, 51, 51, 0.9);

  gap: 1rem;
  text-align: center;
  width: 100%;
  color: rgb(6, 6, 138);
  margin-top: -9%;
}
.lined-text {
  display: flex;
  align-items: center;
  align-self: center;
  margin-bottom: 1rem;
}

.line {
  background-color: rgb(216, 202, 4);
  height: 2px;
  width: 10vw;
}

.left {
  margin-right: 10px;
}

.right {
  margin-left: 10px;
}

.socials {
  display: flex;
  justify-content: space-evenly;
}

.contLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 5px;
}
.contLink:hover {
  color: blue;
  text-transform: uppercase;
  font-weight: 500;
}

.logoIcon {
  width: 2rem;
}

.logoIcon:hover {
  width: 2.5rem;
  height: 3rem;
  transition: all 3s ease-in-out;
}

.logoIcon:hover + .hiddenText {
  display: block;
  opacity: 1;
  transition: opacity 20s ease-in-out;
}

.footer {
  display: flex;
  align-self: center;
  color: white;
  position: absolute;
  bottom: 4rem;
  justify-self: center;
  text-align: center;
  margin-left: 20vw;
}

.voteGift {
  width: 30rem;
  height: 20rem;
}

.homeTop {
  display: flex;
  flex-direction: column;
  margin-bottom: -5rem;
  background: rgba(48, 80, 80, 0.9);
  width: 100%;
  padding-bottom: 2rem;
}
