main {
  display: flex;
  flex-direction: column;
  min-width: 60vw;
  min-height: 45vw;
  border-radius: 1rem;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  overflow: hidden;
  background-color: rgb(86, 133, 68);
}

.homepage {
  background-image: url(/assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* min-width: 1440px; */
  min-width: 60vw;
  min-height: 45vw;
}

h2 {
  color: rgb(143, 129, 4);
  margin-bottom: -0.5rem;
}

.nav {
  display: flex;
  background-color: rgb(8, 158, 23);
  align-items: center;
  color: white;
  align-self: center;
  justify-self: center;
  border-radius: 0.5rem;
  justify-content: space-around;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;

}

ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: end;
}

li:hover {
  color: rgb(240, 217, 14);
  text-transform: uppercase;
  cursor: pointer;
}

.navigator {
  margin-left: auto;
  margin-right: 2rem;
}

.dropDown {
  width: 1rem;
}

.slogan {
  display: flex;
  flex-direction: column;
  max-width: 50ch;
  /* align-self: center; */
  margin-top: 10%;
  margin-left: 2rem;
  color: rgb(2, 2, 2);
  font-weight: 500;
  gap: 1rem;
  text-align: center;
}

.footer {
  display: flex;
  align-self: center;
  color: white;
  position: absolute;
  bottom: 4rem;
  justify-self: center;
  text-align: center;
  margin-left: 20vw;
}
