.logoN {
  margin-top: 2rem;
}

.title {
  color: rgb(26, 99, 3);
}

.card {
  display: flex;
  background-color: rgb(206, 176, 6);
  margin: 2rem;
  align-items: center;
  padding: 2rem;
  border-radius: 1.5rem;
  justify-content: space-around;
  align-self: center;
}

.vote {
  width: 20rem;
  height: 20rem;
}

.formNew {
  display: flex;
  gap: unset;
  gap: 1rem;
}

.lable,
.dateB {
  color: green;
  font-weight: 800;
  font-size: 15px;
}

.lable {
  margin-bottom: -0.5rem;
}

input {
  padding: 0.5rem;
}
