.choices {
    display: flex;
    gap: 2rem;
}

.inputPos {
    width: 20rem;
}

.candidates {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.candidateList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 20rem;
    overflow: auto;  
}

.candidateList>li {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    background-color: rgba(211, 214, 6, 0.856);
    padding: 1rem;
    border-radius: 1rem;

    
}

.candidateList>li:hover {
    text-transform: unset;
    color: unset;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}