.cardParty {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(163, 147, 6, 1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(14, 24, 1, 0.1);
}
