.votingTable tr {
  display: flex;
  border: none;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

.cardVote {
  display: flex;
  flex-direction: column;
  transform: translateX(45%);
}

.cardVote table {
  display: flex;
  flex-direction: column;

}




